
body {
  background-image: url(/assets/img/ignasi_pattern_s.png);
  font-family: 'Tahoma', sans-serif;
font-weight: 100;
margin: 0;
padding: 0;
  color: #060606;
}

a {
  color: #0e0d0d;
  text-decoration: none;
 
}


a:hover {
  color: #000;
}

li {
  list-style-type: none;
  cursor: default;
}

.section {
  padding: 3rem 0;
}

.tabs a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  
}

.tabs a:hover,
.tabs a:focus,
.tabs a:active {
  text-decoration: none;
  
}

.tabs a:hover:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 1px;
  background-color: #000;
}

.tabs a.active {
  color: #000;
}

.tabs a.active:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 1px;
  background-image: url(/assets/img/ignasi_pattern_s.png);
}

.item {
  border: none;
  margin-bottom: 30px;

}

.item .item-wrap {
  display: block;
  position: relative;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);

}

/* Contact Styles */


.contact {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  justify-items: center;
  gap: 20px;
  margin: 0 10px; 
  border: solid;
  border-radius: 10px;
  background-color: white;
  font-family: "'Tahoma' ", sans-serif;
}
.contact-info-wrap li {

  color: black;
  font-family: "'Tahoma' ", sans-serif;
  top: 0;
}

.contact-info-wrap {
  margin-top: 10px;
}



/* Styles for Spacing */


@media (min-width: 1000px) 
{
  .lgspacer {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
  }
}

.spacer {
 
  margin-left: 10%;
  margin-right: 10%;
}

@media (max-width: 650px) {
.spacer {


margin-left: 10%;
margin-right: 10%;
}

}

.container .topmargin {
  padding: 20px;
  padding-top: 100px;
}


/* --------------------------END------------------------------- */


/* Styles for Border */

.border {
border-style: solid;
border-radius: 10px;
border-color: rgb(10, 10, 10);
border-width: 5px;
}


/* --------------------------END------------------------------- */


/* Form Input Styles */


.form-input {
  left: 0;
  background-color: #ffffff;
}

.form-wrap {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  justify-items: center;
  gap: 20px;
  margin: 0 10px; 
}



.img-profile {
  display: flex;
  justify-content: center;
  width: 210px;
  height: 220px;
  border-radius: 100%;
  position: relative;

  
}

.img-cat {
 width: min-content;
}




@media (max-width: 650px) {
  .tabs a {
    padding-left: 0;
    padding-right: 0;
  }
}


.input-group {
  display: flex;
  align-items: center; /* Center label and input vertically */
}

.input-group label {
  font-size: 20px;
  font-weight:bold;
  margin-right: 10px; /* Add spacing between label and input */
}

.form-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-group textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none; /* Disable the default textarea resize handle */
  overflow: hidden; /* Hide any initial scrollbar */

  /* Transitions for smooth height adjustments */
  transition: height 0.3s ease-in-out;
}

.input-group textarea:focus {
  outline: none; /* Remove the focus outline if needed */
}

/* Adjust the textarea height when content is present */
.input-group textarea:not(:placeholder-shown) {
  height: auto;
}


/* --------------------------END------------------------------- */


/* Readmore Styles */


.readmore {
  display: inline-block;
  border: 1px solid #000;
  padding: 10px 15px;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  transition: 0.2s all ease;
  font-weight: 700;
}

.readmore:active,
.readmore:focus,
.readmore:hover {
  outline: none;
}

.readmore:hover {
  background-color: #ebf1df;
  color: none;
  text-decoration: none;
}


.green {
  color: #49af24;
}

/* --------------------------END------------------------------- */



/* Contact Form */


.php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.php-email-form .error-message br+br {
  margin-top: 25px;
}

.php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* --------------------------END------------------------------- */


/* Footer Styles */
.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.footer a {
  color: #000;
}

.social a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: black;
  position: relative;
  text-align: center;
  color: white;
}

.social a span {
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.social a:hover {
  color: #afafaf;
}

.social {
  flex: 0 0 auto; /* Equivalent to col-sm-6 */
  display: flex; /* Display as flex container */
  justify-content: flex-end; /* Align items to the end on medium screens and larger */
}

/* --------------------------END------------------------------- */


/* NAVBAR */

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  font-size: large;
  

}


.navbar {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  padding: 10px 20px;
  background-image: url(/assets/img/ignasi_pattern_s.png);
}

.navbar .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  font-size: large;
}


@media (max-width: 768px) {
  .navbar {
    padding: 5px 10px; 
  }
}

/* OVERLAY STYLES */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-image: url(/assets/img/ignasi_pattern_s.png);



}

.overlay-container:hover .overlay {
  opacity: 1;
}

.overlay-container {
  position: relative;
  display: inline-block;

}

.overlay-container:hover .profile-text {
  visibility: visible;
}

.overlay-container .profile-text {
  top: -5px;
  left: 105%;
}

/* Image Flexibility */


.imagefit {
  width: 90px;
}

.imgPortfolio {
  width: 70%; 

  border-radius: 5px;
  left: 0;
}

.imgName {
  height: auto;
  width: 30%; 
  border-radius: 5px;
  left: 0;
  padding-top: 10%;
}


@media (max-width: 768px) {
  .imgName {
    width: 98%;
    padding-top: 100px;
  }
  .profile-frame {
    margin-top: 0;


  }
  
}

.profile-frame p {
  text-align: center;
  line-height: 2;
}

@media (max-width: 650px) {
  .imagefit {
    width: 70px;
  }
}

/* --------------------------END------------------------------- */


/* .highlight-on-hover */
.highlight-on-hover:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* --------------------------END------------------------------- */


/* .row-container */
.row-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (max-width: 767px) {
  .row-container {
    grid-template-columns: 1fr;
    gap: 10px; 
  }
}

/* --------------------------END------------------------------- */


/* Profile Styles */


.profile-list {

  height: 100%;
  color: black;
  text-align: center;
  margin: 5%;
  padding-left: 5%;
  padding-right: 5%;
 


}

.profile-list ul {
  padding-left: 0;

}

.profile-list .readmore {
  margin: 10%;
}


.skills img {
 cursor:default;
}

.skills a {
  cursor:default;
 }

.no-style {
  list-style-type: none;
  padding-left: 0;
}

.profile-frame {

  margin-top: 50px;
 

}



@media (max-width: 900px) {

  .profile-frame{
    margin: 0 10px;
  }

  .profile-img {
    position: absolute;
  }
  
}

.profile-header  {
  font-size: xx-large;
  font-family: 'Tahoma', sans-serif;
  margin: 5%;
}




/* ----------------------------END----------------------------- */

/* No Style */

.no-style li {
  font-size: 16px;
  margin-bottom: 10px;
 
  padding-left: 20px;
  position: relative;
  line-height: 1.5;
  font-family: 'Tahoma', sans-serif;
  color: #333; 
}

.no-style li::before {
  content: "\f111"; 
  font-family: 'Tahoma', sans-serif;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 14px; 
  color: #E91E63; 
}

.bg {
  background-color: white;
}

/* --------------------------END------------------------------- */


/* .grid-rows */
.grid-rows {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0 10px; 
}

@media (max-width: 768px) {
  .grid-rows {
    grid-template-columns: 1fr; 
  }
}

@media (min-width: 768px) {
  .grid-rows {
    grid-template-columns: repeat(5, 1fr); 
  }
}

/* --------------------------------------------------------- */


/* .center */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* ------------------------END--------------------------------- */


/* Styles for screens below 650px */
@media (max-width: 650px) {
  .topmargin {
      margin-top: 10%;
  }
}



/* Styles for top margin screens between 700px and up */
@media (min-width: 700px) {
  .topmargin {
      margin-top: 10%; 
  }
  .projects-cards {
      margin-top: 50px;
  }
}

/* Projects Styles */


.projects {
  margin-top: 10%;
}

.projects h3 {
  margin: 0;
}



.projects-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  justify-items: center;
  gap: 20px;
  margin: 0 10px; 
}

@media (min-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}



.projects-cards {
  max-width: 100%;
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr); 
  }
}


/* ----------------------END----------------------------------- */


/* ANIMATION */



/* ANIMATION */

/* Keyframes for the dropping animation */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Keyframes for the dropping animation */
@keyframes slideFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Keyframes for coming from the right */
@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.fade-in {
  opacity: 0; /* Set initial opacity to 0 to start the animation */
  animation: fadeIn 1s ease forwards;
}

.slide-animation.top.in-view {
  animation: slideFromTop 0.5s ease;
}


.slide-animation.left.in-view {
  animation: slideFromLeft 0.5s ease;
}

.slide-animation.right.in-view {
  animation: slideFromRight 0.5s ease;
}

/* -------------------------END-------------------------------- */



/* Wrapper Animation Shapes */


.wrapper span{
  position: fixed;
  top: -120px;
  height: 50px;
  width: 50px;
  z-index: -1;
  animation: animate 10s linear infinite;    
  border-radius: 60%;  
}
.wrapper span:nth-child(1){
  left: 60px;
  animation-delay:0.6s;
  border: 5px solid rgb(159, 207, 153);
}
.wrapper span:nth-child(2){
  left: 60%;
  animation-delay: 3s;
  width: 60px;
  height: 60px;
}
.wrapper span:nth-child(3){
  left: 20%;
  animation-delay: 2s;
  border: 5px solid #acebae;    
}
.wrapper span:nth-child(4){
  left: 30%;
  animation-delay: 5s;
  width: 80px;
  height: 80px;
  background: #befb46;
}
.wrapper span:nth-child(5){
  left: 40%;
  animation-delay: 1s;
}
.wrapper span:nth-child(6){
  left: 50%;
  animation-delay: 7s;
  border: 5px solid rgb(68, 185, 96);
}
.wrapper span:nth-child(7){
  left: 60%;
  animation-delay: 6s;
  width: 100px;
  height: 100px;
  background: #147412;
}
.wrapper span:nth-child(8){
  left: 70%;
  animation-delay: 8s;
  border: 5px solid #befb46;
}
.wrapper span:nth-child(9){
  left: 80%;
  animation-delay: 6s;
  width: 90px;
  height: 90px;
  background: rgb(130, 211, 106);
}
.wrapper span:nth-child(10){
  left: 90%;
  animation-delay: 4s;
  border: 5px solid #4c8055;    
}

@keyframes animate{
  0%{
    transform: translateY(0);
    opacity: 1;
  }
  80%{
    opacity: 0.7;
  }
  100%{
    transform: translateY(800px) rotate(360deg);
    opacity: 0;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
:root {
  --surface-color: #fff;
  --curve: 40;
  --bg-pink:#fef8f8;
  --black-color:#6a515e;
  --text-color:#d7bdca;
}

* {
  box-sizing: border-box;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
  gap:2rem;
  margin:4rem 5vw;
  padding:0;
}
.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}
.card__image{
  width:100%;
  height:auto;
}
.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: white;
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}
.card:hover .card__overlay{
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.card__header{
  position: relative;
  display:flex;
  align-items: center;
  gap:2rem;
  border-radius: calc(var(--curve) * 1px) 0 0 0; 
  background-color: white;
  padding:2em;
  transform: translateY(-100%); 
  transition: 0.2s ease-in-out;
}
.card__arc{
  width:5em;
  height:5em;
  position:absolute;
  bottom:100%;
  right:0;
  z-index: 1;
}
.card__arc path{
  fill:var(--surface-color);
  background-color:  rgb(190, 206, 243);

  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  
}


.card:hover .card__header{
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  
}





.card__thumb{
  flex-shrink: 0;
  width:3.125em;
  height:3.125em;
}
.card__title{
  font-size:1em;
  margin:0 0 0.3em;
}
.card__status{
  font-size:0.8em;
}
.card__description{
  padding:0 2em 2em;
  margin:0;
color: black;  
display:-webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  max-height: 200px;
  overflow-y: auto; 
  padding: 10px; 
  height: 150px;
}
        